-- CreateEnum
CREATE TYPE "finance"."AccountType" AS ENUM ('ASSET', 'LIABILITY', 'EQUITY', 'REVENUE', 'EXPENSE', 'OFF_BALANCE');

-- CreateEnum
CREATE TYPE "finance"."NormalBalance" AS ENUM ('DEBIT', 'CREDIT');

-- CreateEnum
CREATE TYPE "finance"."PeriodStatus" AS ENUM ('OPEN', 'CLOSED', 'LOCKED');

-- CreateEnum
CREATE TYPE "finance"."JEStatus" AS ENUM ('DRAFT', 'POSTED', 'VOID');

-- CreateEnum
CREATE TYPE "finance"."JESource" AS ENUM ('MANUAL', 'AP', 'AR', 'FA', 'PAYROLL', 'IMPORT', 'ADJUSTMENT');

-- CreateTable
CREATE TABLE "finance"."ledger" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "baseCurrency" TEXT NOT NULL,
    "isDefault" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "ledger_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."account" (
    "id" TEXT NOT NULL,
    "ledgerId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "level" INTEGER NOT NULL,
    "parentId" TEXT,
    "type" "finance"."AccountType" NOT NULL,
    "normalBalance" "finance"."NormalBalance" NOT NULL,
    "isPostable" BOOLEAN NOT NULL DEFAULT true,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',

    CONSTRAINT "account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."fiscal_year" (
    "id" TEXT NOT NULL,
    "ledgerId" TEXT NOT NULL,
    "year" INTEGER NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "status" "finance"."PeriodStatus" NOT NULL DEFAULT 'OPEN',

    CONSTRAINT "fiscal_year_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."period" (
    "id" TEXT NOT NULL,
    "fiscalYearId" TEXT NOT NULL,
    "periodNo" INTEGER NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "status" "finance"."PeriodStatus" NOT NULL DEFAULT 'OPEN',

    CONSTRAINT "period_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."currency" (
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "decimals" INTEGER NOT NULL DEFAULT 2,

    CONSTRAINT "currency_pkey" PRIMARY KEY ("code")
);

-- CreateTable
CREATE TABLE "finance"."exchange_rate" (
    "id" TEXT NOT NULL,
    "fromCurrency" TEXT NOT NULL,
    "toCurrency" TEXT NOT NULL,
    "rateDate" TIMESTAMP(3) NOT NULL,
    "rate" DECIMAL(18,8) NOT NULL,

    CONSTRAINT "exchange_rate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."journal_entry" (
    "id" TEXT NOT NULL,
    "ledgerId" TEXT NOT NULL,
    "periodId" TEXT NOT NULL,
    "jeNo" TEXT,
    "docDate" TIMESTAMP(3) NOT NULL,
    "postDate" TIMESTAMP(3),
    "currencyCode" TEXT NOT NULL,
    "fxRate" DECIMAL(18,8) NOT NULL,
    "source" "finance"."JESource" NOT NULL DEFAULT 'MANUAL',
    "status" "finance"."JEStatus" NOT NULL DEFAULT 'DRAFT',
    "reference" TEXT,
    "memo" TEXT,

    CONSTRAINT "journal_entry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."journal_line" (
    "id" TEXT NOT NULL,
    "journalEntryId" TEXT NOT NULL,
    "lineNo" INTEGER NOT NULL,
    "accountId" TEXT NOT NULL,
    "debit" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "credit" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "amountDc" DECIMAL(18,2) NOT NULL,
    "currencyCode" TEXT NOT NULL,
    "fxRate" DECIMAL(18,8) NOT NULL,
    "amountTxn" DECIMAL(18,2) NOT NULL,
    "costCenterId" TEXT,
    "departmentId" TEXT,
    "projectId" TEXT,
    "partnerId" TEXT,
    "taxCodeId" TEXT,
    "memo" TEXT,

    CONSTRAINT "journal_line_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."account_period_balance" (
    "id" TEXT NOT NULL,
    "ledgerId" TEXT NOT NULL,
    "accountId" TEXT NOT NULL,
    "periodId" TEXT NOT NULL,
    "costCenterId" TEXT,
    "departmentId" TEXT,
    "projectId" TEXT,
    "partnerId" TEXT,
    "opening" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "debits" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "credits" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "closing" DECIMAL(18,2) NOT NULL DEFAULT 0,

    CONSTRAINT "account_period_balance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."subledger_link" (
    "id" TEXT NOT NULL,
    "journalLineId" TEXT NOT NULL,
    "domain" TEXT NOT NULL,
    "externalId" TEXT NOT NULL,

    CONSTRAINT "subledger_link_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."approval" (
    "id" TEXT NOT NULL,
    "journalEntryId" TEXT NOT NULL,
    "state" TEXT NOT NULL,
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "remarks" TEXT,

    CONSTRAINT "approval_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "finance"."attachment" (
    "id" TEXT NOT NULL,
    "journalEntryId" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "uploadedBy" TEXT NOT NULL,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "attachment_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "ledger_code_key" ON "finance"."ledger"("code");

-- CreateIndex
CREATE INDEX "account_ledgerId_type_idx" ON "finance"."account"("ledgerId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "account_ledgerId_code_key" ON "finance"."account"("ledgerId", "code");

-- CreateIndex
CREATE INDEX "fiscal_year_ledgerId_status_idx" ON "finance"."fiscal_year"("ledgerId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "fiscal_year_ledgerId_year_key" ON "finance"."fiscal_year"("ledgerId", "year");

-- CreateIndex
CREATE INDEX "period_status_idx" ON "finance"."period"("status");

-- CreateIndex
CREATE UNIQUE INDEX "period_fiscalYearId_periodNo_key" ON "finance"."period"("fiscalYearId", "periodNo");

-- CreateIndex
CREATE INDEX "exchange_rate_rateDate_idx" ON "finance"."exchange_rate"("rateDate");

-- CreateIndex
CREATE UNIQUE INDEX "exchange_rate_fromCurrency_toCurrency_rateDate_key" ON "finance"."exchange_rate"("fromCurrency", "toCurrency", "rateDate");

-- CreateIndex
CREATE INDEX "journal_entry_periodId_status_idx" ON "finance"."journal_entry"("periodId", "status");

-- CreateIndex
CREATE INDEX "journal_entry_docDate_idx" ON "finance"."journal_entry"("docDate");

-- CreateIndex
CREATE UNIQUE INDEX "journal_entry_ledgerId_jeNo_key" ON "finance"."journal_entry"("ledgerId", "jeNo");

-- CreateIndex
CREATE INDEX "journal_line_accountId_idx" ON "finance"."journal_line"("accountId");

-- CreateIndex
CREATE UNIQUE INDEX "journal_line_journalEntryId_lineNo_key" ON "finance"."journal_line"("journalEntryId", "lineNo");

-- CreateIndex
CREATE INDEX "account_period_balance_ledgerId_accountId_periodId_idx" ON "finance"."account_period_balance"("ledgerId", "accountId", "periodId");

-- CreateIndex
CREATE UNIQUE INDEX "account_period_balance_ledgerId_accountId_periodId_costCent_key" ON "finance"."account_period_balance"("ledgerId", "accountId", "periodId", "costCenterId", "departmentId", "projectId", "partnerId");

-- CreateIndex
CREATE UNIQUE INDEX "subledger_link_journalLineId_key" ON "finance"."subledger_link"("journalLineId");

-- AddForeignKey
ALTER TABLE "finance"."account" ADD CONSTRAINT "account_ledgerId_fkey" FOREIGN KEY ("ledgerId") REFERENCES "finance"."ledger"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."account" ADD CONSTRAINT "account_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "finance"."account"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."fiscal_year" ADD CONSTRAINT "fiscal_year_ledgerId_fkey" FOREIGN KEY ("ledgerId") REFERENCES "finance"."ledger"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."period" ADD CONSTRAINT "period_fiscalYearId_fkey" FOREIGN KEY ("fiscalYearId") REFERENCES "finance"."fiscal_year"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."journal_entry" ADD CONSTRAINT "journal_entry_ledgerId_fkey" FOREIGN KEY ("ledgerId") REFERENCES "finance"."ledger"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."journal_entry" ADD CONSTRAINT "journal_entry_periodId_fkey" FOREIGN KEY ("periodId") REFERENCES "finance"."period"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."journal_line" ADD CONSTRAINT "journal_line_journalEntryId_fkey" FOREIGN KEY ("journalEntryId") REFERENCES "finance"."journal_entry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."journal_line" ADD CONSTRAINT "journal_line_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "finance"."account"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."account_period_balance" ADD CONSTRAINT "account_period_balance_ledgerId_fkey" FOREIGN KEY ("ledgerId") REFERENCES "finance"."ledger"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."account_period_balance" ADD CONSTRAINT "account_period_balance_accountId_fkey" FOREIGN KEY ("accountId") REFERENCES "finance"."account"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."account_period_balance" ADD CONSTRAINT "account_period_balance_periodId_fkey" FOREIGN KEY ("periodId") REFERENCES "finance"."period"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."subledger_link" ADD CONSTRAINT "subledger_link_journalLineId_fkey" FOREIGN KEY ("journalLineId") REFERENCES "finance"."journal_line"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."approval" ADD CONSTRAINT "approval_journalEntryId_fkey" FOREIGN KEY ("journalEntryId") REFERENCES "finance"."journal_entry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "finance"."attachment" ADD CONSTRAINT "attachment_journalEntryId_fkey" FOREIGN KEY ("journalEntryId") REFERENCES "finance"."journal_entry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

